.wrapper_content {
  margin-top: 60px;
}

label,
.title_form {
  user-select: none;
}

.wrapper_form {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 800px;
  height: 600px;
  border-radius: 20px;
  background-color: #fff;
}
.wrapper_form form {
  min-width: 600px;
  margin: 40px 0;
}

#result {
  color: #555;
  margin-top: 50px;
  width: 530px;
  height: 40px;
  line-height: 62px;
  border-radius: 12px;
  padding: 0 10px;
  border: none;
  outline: none;
  cursor: default;
  box-shadow: 0 0 8px 4px rgb(0 0 0 / 10%);
  font-size: 18px;
}

.alert {
  position: absolute;
  top: 30px;
  width: 400px;
  margin-left: 20px;
}
